@model IEnumerable<MVCeTicaret.Models.OrderDetail>
@{
    ViewBag.Title = "Cart";
}

<div class="panel panel-default" style="margin-top:50px">
    <div class="panel-heading">
        SEPETİNİZ
    </div>
    <div class="panel-body">
        @{
            if (Model.Count() == 0)
            {
                <h3 class="text-center"><span class="glyphicon glyphicon-sunglasses"></span><br /> Sepetiniz Boş! </h3>
                <span class="lead">
                    <b>
                        SEPETİNİZ BOŞ...
                    </b>
                </span>
            }
            else
            {
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th class="text-center">Sepetten Çıkar</th>
                            <th class="text-center">Ürün Görseli</th>
                            <th class="text-center">Ürün Adı</th>
                            <th class="text-center">Ürün Fiyatı</th>
                            <th class="text-center">Ürün Miktarı</th>
                            <th class="text-center">Miktarı Güncelle</th>
                            <th class="text-center">İstek Listesine Ekle</th>
                        </tr>
                    </thead>
                    <tbody>
                        @{
                            decimal toplamTutar = 0;
                            foreach (MVCeTicaret.Models.OrderDetail orderDetail in Model)
                            {
                                toplamTutar += orderDetail.TotalAmount;
                                <tr class="text-center">
                                    <td><a href="@Url.Action("RemoveFromCart","Shopping",new {id=orderDetail.OrderDetailID })" class="btn btn-default"><span class="glyphicon glyphicon-trash"></span></a></td>
                                    <td style="line-height:50px"><img height="50" src="@Url.Content(orderDetail.Product.ImageUrl)" alt="Image" /> </td>
                                    <td style="line-height:50px">@orderDetail.Product.Supplier.CompanyName @orderDetail.Product.Name</td>
                                    <td style="line-height:50px">@string.Format("{0:C0}", orderDetail.Product.UnitPrice)</td>
                                    <td style="line-height:50px">@orderDetail.Quantity @orderDetail.Product.QuantityPerUnit</td>
                                    <td>
                                        @{
                                            using (Html.BeginForm("UpdateCart", "Shopping", FormMethod.Post))
                                            {
                                                <input class="btn-sm" type="number" min="1" max="@orderDetail.Product.UnitInStock" value="@orderDetail.Quantity" name="Quantity" />
                                                @Html.Hidden("orderDetailID", orderDetail.OrderDetailID)
                                                <button type="submit" class="btn btn-default btn-sm" name="guncelle"><span class="glyphicon glyphicon-check"></span></button>
                                            }

                                        }
                                    </td>
                                    <td>
                                        @{
                                            if (orderDetail.Customer.Wishlists.FirstOrDefault(x => x.CustomerID == orderDetail.CustomerID && x.ProductID == orderDetail.ProductID && x.IsActive == true) == null)
                                            {
                                                <a href="@Url.Action("AddWishlistFromCart","Shopping",new {id=orderDetail.ProductID })" class="btn btn-default"><span class="glyphicon glyphicon-plus"></span> </a>

                                            }
                                            else
                                            {
                                                <a href="@Url.Action("RemoveWishlistFromCart","Shopping",new {id=orderDetail.ProductID })" class="btn btn-default"><span class="glyphicon glyphicon-minus"></span> </a>
                                            }
                                        }

                                    </td>
                                </tr>
                            }
                        }
                    </tbody>

                </table>
                <hr />
                <span class="lead">
                    <b>
                        Ödenmesi Gereken Toplam Tutar = @string.Format("{0:C0}", toplamTutar)
                    </b>
                </span>              
                @Html.ActionLink("Siparişi Tamamla", "GoToPayment", "Shopping", null, new { @class = "btn btn-default", @style = "float:right" })
            }
        }

    </div>
</div>

