@model MVCeTicaret.Models.Customer

@{
    ViewBag.Title = "GoToPayment";
}

<div class="row" style="margin-top:50px;">
    <table border="1">
        <thead>
            <tr>
                <th>Ürün Adı</th>
                <th>Ürün Adedi</th>
            </tr>
        </thead>
        <tbody>
            @{
                decimal toplamTutar = 0;
                foreach (var item in ViewBag.OrderDetails as IEnumerable<MVCeTicaret.Models.OrderDetail>)
                {
                    <tr>
                        <td>@item.Product.Name</td>
                        <td style="text-align:center;">@item.Quantity</td>
                    </tr>
                    toplamTutar += item.TotalAmount;
                }
            }
        </tbody>
    </table>
    <p>
        <strong>Toplam Tutar: @string.Format("{0:C2}", toplamTutar)</strong>
    </p>
    <p>
        @Html.ActionLink("Sepetini Düzenle", "Cart", "Shopping", null, new { @class = "btn btn-warning" })
    </p>

    <hr />

    @using (Html.BeginForm("CompleteShopping", "Shopping", FormMethod.Post))
    {
        <h5>Ödeme Seçenekleri:</h5>
        foreach (var item in ViewBag.PaymentTypes as IEnumerable<MVCeTicaret.Models.PaymentType>)
        {
            <label>
                <input type="radio" name="paymentType" value="@item.PaymentTypeID" checked />
                @item.TypeName
            </label>
            <br />
        }

        <hr />

        <h5>Adres Bilgileri:</h5>
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="form-group">
                    <div class="row">
                        <div class="col-md-2">
                            <label>Adınız:</label>
                        </div>
                        <div class="col-md-10">
                            @Html.TextBoxFor(x => x.FirstName, new { @class = "form-control", @required = "required" })
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="row">
                        <div class="col-md-2">
                            <label>Soyadınız:</label>
                        </div>
                        <div class="col-md-10">
                            @Html.TextBoxFor(x => x.LastName, new { @class = "form-control", @required = "required" })
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="row">
                        <div class="col-md-2">
                            <label>Adresiniz:</label>
                        </div>
                        <div class="col-md-10">
                            @Html.TextAreaFor(x => x.Address, new { @class = "form-control", rows = "3", @required = "required" })
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="row">
                        <div class="col-md-2">
                            <label>Şehriniz:</label>
                        </div>
                        <div class="col-md-10">
                            @Html.TextBoxFor(x => x.City, new { @class = "form-control", @required = "required" })
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="row">
                        <div class="col-md-2">
                            <label>Bilgilerimi Güncelle:</label>
                        </div>
                        <div class="col-md-10">
                            <input type="checkbox" name="update" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <p>
            <input type="submit" value="Alışverişi Tamamla" class="btn btn-success" />
        </p>
    }
</div>