@model IEnumerable<MVCeTicaret.Models.Wishlist>
@{
    ViewBag.Title = "Wishlist";
}

@{
    if (Model.Count() == 0)
    {
        <h3 class="text-center"><span class="glyphicon glyphicon-sunglasses"></span><br /> İstek Listeniz Boş! </h3>
        <span class="lead">
            <b>
                İSTEK LİSTENİZ BOŞ...
            </b>
        </span>
    }
    else
    {
        <table class="table table-hover">
            <thead>
                <tr>
                    <th class="text-center">Listeden Çıkar</th>
                    <th class="text-center">Ürün Görseli</th>
                    <th class="text-center">Ürün Adı</th>
                    <th class="text-center">Ürün Fiyatı</th>
                    <th class="text-center">Stok Miktarı</th>
                    <th class="text-center">Sepete Ekle</th>
                </tr>
            </thead>
            <tbody>
                @{
                    foreach (var item in Model)
                    {

                        <tr class="text-center">
                            <td><a href="@Url.Action("RemoveFromWishlist","Shopping",new {id=item.WishlistID })" class="btn btn-default"><span class="glyphicon glyphicon-trash"></span></a></td>
                            <td style="line-height:50px"><img height="50" src="@Url.Content(item.Product.ImageUrl)" alt="Image" /> </td>
                            <td style="line-height:50px">@item.Product.Supplier.CompanyName @item.Product.Name</td>
                            <td style="line-height:50px">@string.Format("{0:C0}", item.Product.UnitPrice)</td>
                            <td style="line-height:50px">@item.Product.UnitInStock @item.Product.QuantityPerUnit</td>
                            <td>
                                @{
                                    if (item.Product.UnitInStock == 0)
                                    {
                                        <a disabled style="font-size:20pt;"><span class="glyphicon glyphicon-shopping-cart" style="color:lightblue;"></span></a>
                                    }
                                    else
                                    {
                                        <a href="@Url.Action("AddToCartFromWishlist", "Shopping", new { id = item.ProductID })" style="height:80px;font-size:20pt;">
                                            <span class="glyphicon glyphicon-shopping-cart" style="color:darkgray"></span>
                                        </a>
                                    }
                                }
                            </td>

                        </tr>
                    }
                }
            </tbody>
        </table>
    }
}


